* {
  margin: 0;
  font-family: "Poppins";
  /* background-color: rgb(29, 26, 26); */
}

.App {
  width: 80%;
  position: relative;
  max-width: 768px;
  margin: 7% auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 37.5px;
  margin-bottom: 20px;
  font-weight: bold;
}

.subtitle {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: bold;
}

.links-container {
  display: flex;
  flex-direction: row;
}

.link-item {
  font-weight: 700;
  margin-top: 40px;
  margin-right: 20px;
}

.update-box-container {
  background-color: #22e09a7e;
  box-shadow: -5px 0px 0px 0px #199c6c;
  padding-left: 20px;
  margin-bottom: 20px;
  padding-right: 10px;
}

.update-box-text {
  font-size: 110%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.name-text {
  background: -webkit-linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.label-orange {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(60%, transparent),
    color-stop(60%, rgba(255, 121, 63, 0.4)),
    to(rgba(255, 121, 63, 0.4))
  );
  text-decoration: none;
  color: black;
  padding: 0px 3px;
}

.label-yellow {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(60%, transparent),
    color-stop(60%, rgba(202, 245, 62, 0.4)),
    to(rgba(108, 216, 20, 0.4))
  );
  text-decoration: none;
  color: black;
  padding: 0px 3px;
}

.label-darkblue {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(60%, transparent),
    color-stop(60%, rgba(27, 48, 236, 0.4)),
    to(rgba(36, 71, 226, 0.4))
  );
  text-decoration: none;
  color: black;
  padding: 0px 3px;
}

.label-lightblue {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(60%, transparent),
    color-stop(60%, rgba(29, 161, 242, 0.4)),
    to(rgba(29, 161, 242, 0.4))
  );
  text-decoration: none;
  color: black;
  padding: 0px 3px;
}

.label-grey {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(60%, transparent),
    color-stop(60%, rgba(255, 121, 63, 0.4)),
    to(rgba(255, 121, 63, 0.4))
  );
  text-decoration: none;
  color: black;
  padding: 0px 3px;
}

.label-green {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(60%, transparent),
    color-stop(60%, rgb(91, 124, 103,0.4)),
    to(rgba(30, 215, 96, 0.4))
  );
  text-decoration: none;
  color: black;
  padding: 0px 3px;
}

.label-red {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(60%, transparent),
    color-stop(60%, rgba(212, 37, 14, 0.4)),
    to(rgba(235, 86, 23, 0.483))
  );
  text-decoration: none;
  color: black;
  padding: 0px 3px;
}

.component-divider {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

.component-header {
  font-size: 120%;
  font-weight: 600;
  margin: 10px 0;
  margin-right: 10px;

}

.first-three {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.last-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7%;
}

.list-component-container {
  display: flex;
  flex-direction: column;
}

.list-component-item {
  display: flex;
  flex-direction: row;
}
